#!/usr/bin/make -f

%:
	dh $@


override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_SYSCONFDIR=/etc

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -plibmauth1 --dbg-package=libmauth1-dbg
	dh_strip -pmauth-openssh --dbg-package=mauth-openssh-dbg
